<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.pgulotta.leonidstest">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" android:theme="@style/Theme.AppCompat.Light" />
	<application android:label="Leonids Lib Test" android:icon="@drawable/ic_launcher"></application>
</manifest>